.todo-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    border: 1px solid #a59a9a;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
.todo-form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  button.addBtn {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #258837;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
  }

  button.logoutBtn {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #374dc9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  button.deleteBtn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }

  button.editBtn {
    background-color: #1a2aa4;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 3px;
  }
  
  button.deleteBtn:hover {
    background-color: #c82333;
  }
  
  .completed {
    text-decoration: line-through;
    color: #6c757d;
  }
  